$light-yellow: #ffeecc;
$yellow: #e9d985;
$light-brown: #d5b88f;
$dark-brown: #9c825c;
$bright-orange: #ff5919;
$not-quite-black: rgb(26, 25, 25);
$forest-green: #239723;
$flash-green: #77e477;
$flash-red: #ee8e8e;
