@import '../config/index';

.button.back-to-offer {
  margin-bottom: 12px;
  margin-right: 0;
}

.offer-and-application-contents {
  display: flex;
  justify-content: space-between;
}

.application-show-offer-content, .application-show-application-content {
  width: 43%;
  text-align: justify;
  background-color: white;
  padding: 32px;
  font-size: 0.8rem;
  margin-top: 0;
  margin-bottom: 0;
}

.application-show-offer-content {
  font-family: $offer-font;
}

.application-show-application-content {
  font-family: $application-font;
  line-height: 1.5em;
}

.application-show-analysis-content {
  background-color: $light-brown;
  padding: 12px;
  border-radius: 12px;
  font-size: 1rem;
}

@media (max-width: 1440px) {
  .offer-and-application-contents {
    flex-direction: column;
    align-items: center;
  }

  .application-show-offer-content {
    margin-bottom: 25px;
  }

  .application-show-offer-content, .application-show-application-content {
    width: 70%;
  }
}

@media (max-width: 870px) {
  .application-show-offer-content, .application-show-application-content {
    width: 80%;
  }
}
