.offers-index-wrapper {
  position: relative;
}

.no-offers-para {
  text-align: center;
}

.button.add-offer {
  margin-top: 12px;
  margin-right: 12px;
}

.offer-cards-list {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 22px;
}
