.offers-index-wrapper {
  position: relative;
}

.no-offers-para {
  text-align: center;
}

.button.add-offer {
  margin-top: 12px;
  margin-right: 12px;
}

.offer-cards-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 22px;
  margin-top: 18px;
}

@media (max-width: 1600px) {
  .offer-cards-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 1050px) {
  .offer-cards-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
