.button.add-application {
  margin-top: 12px;
  margin-right: 0;
}

.no-job-application-para {
  text-align: center;
}

.offer-show-data {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.offer-show-back-and-content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button.back-to-offers-index {
  position: absolute;
  top: 0;
  right: 0;
}

.offer-show-data-content {
  margin: 0;
  background-color: white;
  text-align: justify;
  padding: 32px;
  font-size: 0.8rem;
  width: 40%;
}

.offer-show-applications-list {
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 22px;
  margin-top: 18px;
}

@media (max-width: 1700px) {
  .button.back-to-offers-index {
    position: initial;
    margin-bottom: 29.05px;
  }

  .offer-show-data-content {
    width: 60%;
  }
}

@media (max-width: 1600px) {
  .offer-show-applications-list {
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}

@media (max-width: 1250px) {
  .offer-show-data-content {
    width: 80%;
  }
}

@media (max-width: 1050px) {
  .offer-show-applications-list {
    grid-template-columns: repeat(1, minmax(0, 1fr));
  }
}
