@import '../config/index';

.simple_form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.form-inputs {
  width: 60%;
}

.user-form {
  font-family: $main-font;
  display: flex;
  flex-direction: column;
  align-items: center;

  .new-offer-para > p:first-child, .new-job-application-para > p:first-child {
    margin-top: 0;
  }

  form {
    font-size: 0.8rem;
  }

  .input {
    display: flex;
    justify-content: space-between;
  }

  .input:first-of-type {
    margin-bottom: 5%;
  }

  .input:last-of-type {
    margin-top: 5%;
  }

  .input:not(:first-of-type, :last-of-type) {
    margin-top: 5%;
    margin-bottom: 5%;
  }

  input:not(.button, .boolean), textarea {
    margin-left: 12px;
    width: 50%;
  }

  .input.boolean {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin-top: 12px;
  }

  textarea {
    height: 20vh;
    resize: vertical;
  }
}

.field_with_errors {
  input, textarea {
    border: 2px solid red;
  }
}

.button.delete-account {
  background-color: red;
  font-size: 0.6rem;
}

.button.delete-account:hover, .button.delete-account:active {
  background-color: $yellow;
  color: red;
  transition: background-color, color, 0.3s;
}

.misc-links {
  margin-top: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

span.error {
  display: none;
}

@media (max-width: 1300px) {
  .form-inputs {
    width: 80%;
  }
}

@media (max-width: 600px) {
  .form-inputs {
    width: 100%;
  }

  .user-form {
    .input {
      flex-direction: column;
      align-items: center;
    }

    label {
      margin-bottom: 2%;
    }

    input:not(.button, .boolean), textarea {
      width: 80%;
    }
  }
}
