<h1>Ce candidat est-il compatible ?</h1>
<p>Ceci est une application permettant de déterminer si un candidat est compatible à un poste donné, basé sur sa lettre de motivation.</p>
<p>L'application compare le poste avec la lettre et offre son opinion, informant l'utilisateur de divers aspects de la lettre qu'il pourrait avoir manqué et qui répondraient aux critères spécifiés dans l'offre.</p>
<p>Pour pouvoir utiliser l'application, vous allez d'abord devoir créer un compte. Le processus est simple et rapide :</p>

<%= link_to "Je m'inscris", new_user_registration_path %>

<p>Si vous avez déjà un compte, vous pouvez vous connecter ici :</p>

<%= link_to "Je me connecte", new_user_session_path %>
