<div class='home-wrapper'>
  <div class='home container'>
    <h1>Ce candidat est-il compatible ?</h1>
    <p>Ceci est une application permettant de déterminer si un candidat est compatible à un poste donné, basé sur sa lettre de motivation.</p>
    <p>L'application compare la fiche de poste avec la lettre et offre son opinion, informant l'utilisateur de divers aspects de la lettre qu'il pourrait avoir manqué et qui répondraient aux critères spécifiés dans l'offre, le tout grâce à une connexion avec ChatGPT.</p>
    <p>Pour pouvoir utiliser l'application, vous allez d'abord devoir créer un compte. Le processus est simple et rapide :</p>
    <%= link_to "M'inscrire", new_user_registration_path, class: 'button' %>
  </div>
</div>
