<h1>Ce candidat est-il compatible ?</h1>

<p>Vous pouvez enregistrez plusieurs offres d'emploi différentes dans votre profil afin de comparer des lettres de motivation à ces offres.</p>
<p>Copiez le contenu de votre offre ci-dessous. Si vous avez déjà des offres enregistrées, vous pouvez les consulter dans votre panneau accessible depuis la barre de navigation.</p>

<%= simple_form_for @offer do |f| %>
  <%= f.input :title %>
  <%= f.input :content, input_html: { maxlength: 4000 } %>
  <%= f.button :submit %>
<% end %>
