@import '../config/index';

.alert {
  font-family: $main-font;
  padding: 12px;
  max-width: 25%;
  border-radius: 4px;
  position: fixed;
  right: 20px;
  bottom: 20px;
  display: flex;
  flex-direction: column;
  z-index: 1;

  .button {
    border: none;
    font-size: 0.6rem;
    margin-top: 12px;
    padding: 8px 16px;
  }
}

.alert-info {
  background-color: $flash-green;

  .button {
    background-color: $forest-green;
  }

  .button:hover, .button:active {
    background-color: $light-yellow;
    color: $forest-green;
    transition: background-color, color, 0.3s;
  }
}

.alert-warning {
  background-color: $flash-red;

  .button {
    background-color: $brown;
  }

  .button:hover, .button:active {
    background-color: $light-yellow;
    color: $brown;
    transition: background-color, color, 0.3s;
  }
}
