/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'pages/index';
@import 'components/index';
@import 'config/index';

:root {
  font-size: 25px;
}

body {
  font-family: $main-font;
  background-color: $light-yellow;
  margin: 0;
  min-height: 100vh;
  font-size: 1rem;
  position: relative;
}

.container {
  width: 80%;
  margin: 0 auto;
  position: relative;
}

// The filler is used to "book a space" for the footer, since its position is absolute and its stuck to the bottom.
// The filler's height must be the same as that of the footer plus its vertical margin.
.filler {
  height: 172px;
}

h2 {
  font-size: 1.4rem;
}

h3 {
  font-size: 1.08rem;
}

a:not(.button, .navbar-link, .offer-link, .application-link) {
  color: $forest-green;
}

a:not(.button, .navbar-link, .offer-link, .application-link):visited {
  color: $dark-brown;
}

@media (max-width: 870px) {
  :root {
    font-size: 22px;
  }
}

@media (max-width: 765px) {
  :root {
    font-size: 20px;
  }
}

@media (max-width: 695px) {
  :root {
    font-size: 18px;
  }
}

@media (max-width: 625px) {
  :root {
    font-size: 16px;
  }
}
