/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import 'pages/index';
@import 'components/index';
@import 'config/index';

body {
  font-family: $main-font;
  background-color: $light-yellow;
  margin: 0;
  min-height: 100vh;
}

.overlay {
  height: 100vh;
  width: 100vw;
  position: fixed;
  z-index: 0;
}

// The z-index is essential to have the actual application content be stacked over the overlay element. The bits of the
// overlay elements supposed to be over the APPLICATION have their own superior z-index. Similarly, the position
// relative is there because the z-index requires it.
.container {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 32px;
  position: relative;
  z-index: 1;
}

h2 {
  font-size: 35px;
}

h3 {
  font-size: 27px;
}
